.gauge-hide {
  display: none;
}
svg.gauge g.gauge-group path {
  fill: none;
  stroke: #666;
  stroke-width: 2;
}
svg.gauge g.gauge-group path.gauge-line {
  fill: none;
  stroke: #666;
  stroke-width: 3;
}
svg.gauge g.gauge-group path.gauge-sector {
  stroke: #ffa500;
  stroke-width: 3;
}
svg.gauge g.gauge-group path.gauge-sector-1 {
  stroke: red;
}
svg.gauge g.gauge-arrow {
  stroke: #1e98e4;
  fill: #1e98e4;
}
