svg.gauge g.gauge-group path {
  fill: none;
  stroke: black;
  stroke-width: 3;
}
svg.gauge g.gauge-group path.gauge-line {
  fill: none;
  stroke: black;
  stroke-width: 3;
}
svg.gauge g.gauge-arrow {
  stroke: #1e98e4;
  fill: #1e98e4;
}
